// Packaging
PRODUCT_NAME = dosbox_pure_libretro

// Deployment
TARGETED_DEVICE_FAMILY = 1,2,3,4,6,7
SUPPORTS_MACCATALYST = YES
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = YES
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = YES

// Architectures
SUPPORTED_PLATFORMS = xrsimulator xros watchsimulator watchos macosx iphonesimulator iphoneos driverkit appletvsimulator appletvos

// Search paths
ALWAYS_SEARCH_USER_PATHS = NO

// Definições comuns para todas as configs
CLANG_CXX_LANGUAGE_STANDARD = gnu++11
CLANG_CXX_LIBRARY = libc++
GCC_C_LANGUAGE_STANDARD = gnu11
IPHONEOS_DEPLOYMENT_TARGET = 12.0

// Flags globais do Makefile
OTHER_CPLUSPLUSFLAGS = $(inherited) -fomit-frame-pointer -fexceptions -fvisibility=hidden -ffunction-sections -fPIC -Wno-address-of-packed-member -Wno-format -Wno-switch -Wno-psabi -Wno-unknown-warning-option -Wno-unreachable-code -Wno-sometimes-uninitialized -Wno-deprecated-anon-enum-enum-conversion

OTHER_CFLAGS = $(inherited) -Wno-deprecated-declarations -Wno-deprecated-volatile -Wno-comma -Wno-implicit-int-conversion -Wno-documentation -Wno-unused-variable -Wno-unused-function -Wno-conditional-uninitialized -Wno-strict-prototypes

// Defines globais
GCC_PREPROCESSOR_DEFINITIONS = __LIBRETRO__=1 _FILE_OFFSET_BITS=64 DISABLE_DYNAREC=1 DBP_IOS=1 $(inherited)

// Linker flags comuns
OTHER_LDFLAGS = $(inherited) -Wl,-dead_strip -lpthread

HEADER_SEARCH_PATHS = $(SRCROOT)/include $(SRCROOT)/libretro-common/include
